/* Estilos del formulario */
form {
    margin-top: 50px;
}

.form-label {
    font-family: 'Open Sans', sans-serif;
}

.form-control {
    margin-bottom: 20px;
}

/* Estilos del artículo del logo */
.Logo.Barro.On {
    text-align: center;
}

/* Estilos del botón de contacto */
.button-contact {
    width: 160px;
    height: 60px;
    background-color: #ACBE24;
    color: #000;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
}
