.active-prop
{
    background-color: yellow !important; 
    color: black !important; 
}

.barra-verde{ /*Estilos para la barra verde abajo del nav-bar*/
    font-size: 24px;
    color: black;
}

/* un degradado para dar forma de boton */
.active-prop
{
    background: rgb(214,211,0) !important;
    background: linear-gradient(180deg, rgba(214,211,0,1) 5%, rgba(254,254,0,1) 30%, rgba(255,255,0,1) 49%, rgba(255,255,0,1) 70%, rgba(214,211,0,1) 95%) !important;

    color: black !important; 
}
/* un ligero cambio de color para botones del panel lateral */
.active-prop:hover
{
    background: rgb(215,212,0) !important;
background: linear-gradient(180deg, rgba(215,212,0,1) 5%, rgba(215,212,0,1) 95%) !important;
}