/*Hay 5 tamaños de letra para título 68, 40, 32, 28, 25*/
.title--font1 { /*----h1----*/
    color: #000;
    font-family: Ubuntu;
    font-size: 68px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.1px;
}
.title--font2 {/*----h2----*/
    font-family: Ubuntu;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.title--font3{ /*----h3----*/
    font-family: Ubuntu;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.title--font4{ /*-----h4----*/
    font-family: Ubuntu;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.title--font5{ /*----h5----*/
    font-family: Ubuntu;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*Tipografía para contenido son 3 tamaños 20, 18 y 16*/
.body--font1{ /*----H6----*/
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */
    letter-spacing: 0.1px;

}

.body--font2 { /*----P----*/

font-family: "Open Sans";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 111.111% */
letter-spacing: 0.1px;

}

.body--font3{ /*----SMALL----*/
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */
    letter-spacing: 0.1px;

}