/* Botones */
.button--change {
    width: 190px;
    height: 60px;
    /* Alto de los botones */
    /* botones mejorados */
    background: rgb(186,204,51) ;
    background: linear-gradient(180deg, rgba(186,204,51,1) 37%, rgba(172,190,36,1) 91%) ;
    box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.24) ;
    color: #000000;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
}

.button--change:hover{
    background: rgb(159,176,33) ;
    background: linear-gradient(180deg, rgba(159,176,33,1) 37%, rgba(143,158,25,1) 91%) ;
}

.button--change:active{
    background: rgb(122,135,26) ;
    background: linear-gradient(180deg, rgba(122,135,26,1) 37%, rgba(76,84,11,1) 91%)  ; 
}

.container-new-product {
    background-color: #F5E6C7;
    color: black;
    width: 100%;
    height: auto;
}

/* Tamaño de imágenes en categorías (porcentaje con respecto a su contenedor) */
.img-categorias {
    width: 260px;
    height: 360px;
}

.barra-verde{ /*Estilos para la barra verde abajo del nav-bar*/
    font-size: 24px;
    color: black;
}

.carousel-inner{
    display: flex;
    margin: auto;
    padding: 0 100px;
}

/* Clases para el carrusel*/
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

.container-fluid {
    padding: 0 0 50px 0;
}

/* Color de texto en botones */
.carousel-control-prev,
.carousel-control-next {
    color: black;
}

/* Icono de botones carrusel cuando no esta puntero encima */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: none;
}


/* Icono de botones carrusel cuando está puntero encima */
.carousel-control-prev-icon:after,
.carousel-control-next-icon:after {
    content: '>';
    font-size: 3em;
    color: black;
    background-color: pink;
    padding: 10px;
    border-radius: 10px;
}


/* Icono de botón atrás / anterior */
.carousel-control-prev-icon:after {
    content: '<';
}

/* Para pantallas pequeñas (teléfonos) */
@media (max-width: 575.98px) {
    .carousel-inner {
        padding: 0 0 0 70px;
    }
    
    .img-categorias {
        width: 100%;
        height: auto;
    }
    
    .button--change {
        width: 100%;
        height: auto;
    }
    
    .barra-verde {
        font-size: 18px;
    }

    .container-fluid {
        padding: 10px 0 0 0;
    }

}




