/*.contenido_total {
    background-color: aquamarine;

}*/

/* `;-.          ___,
  `.`\_...._/`.-"`
    \        /      ,
    /()   () \    .' `-._
   |)  .    ()\  /   _.'
   \  -'-     ,; '. <
    ;.__     ,;|   > \
   / ,    / ,  |.-'.-'
  (_/    (_/ ,;|.<`
    \    ,     ;-`
     >   \    /
    (_,-'`> .'
jgs      (_,'*/


h1 {
    color: #000;
    font-family: Ubuntu;
    font-size: 68px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.1px;
}

h2 {
    color: #000;
    font-family: Ubuntu;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h3 {
    color: #000;
    font-family: Ubuntu;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h4 {
    color: #000;
    font-family: Ubuntu;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h5{
    color: #000;
    font-family: Ubuntu;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h6{
    color: #000;
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */
    letter-spacing: 0.1px;

}

p {

color: #000;
font-family: "Open Sans";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 111.111% */
letter-spacing: 0.1px;

}






.navbar navbar-expand-lg bg-body-tertiary {
    display: flex;
    justify-content: center;
}

.contenido_abuelo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido_madre {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 100px;
    background-color: rgb(216, 120, 42);
    max-width: 1300px;
}

.acerca_d {
    display: flex;
    width: 780px;
    height: 418px;
    padding: 20px 20px 143px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10px;
    background: #F5E6C7;
}

.mision_ {
    display: flex;
    width: 80.8125rem;
    height: 24.375rem;
    padding: 1.25rem 1.25rem 8.9375rem 1.25rem;
    align-items: flex-start;
    gap: 0.625rem;
    border-radius: 0.625rem;
    background: #F5E6C7;
}

.mision_1 {
    display: flex;
    width: 45.8125rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
    flex-shrink: 0;

}

.img_prueba {
    display: inline-flex;
    align-items: flex-start;
    gap: 21px;
}



    /* display: grid;
    box-sizing: border-box;
    background-color: rgb(226, 125, 43);
    margin: auto;
    justify-content: center;
    max-width: 1440px;
    justify-items: center;  */

}

/* .contenido_madre {
    display: grid;
    box-sizing: border-box;
    background-color: blueviolet;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    justify-content: center;
    max-width: 1440px;

} */
/* .contenido_hij{
    background-color: blue;
    padding: 10px;
    margin: 10px;
    border: solid rgb(0, 0, 0) 2px;
    color:aliceblue;
    font-size: 40px;

} */

