
/* estilos sidebar */
/*
.sideBar{
    display:flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 310px;
    height: 460px;
    margin:none;
    border: 3px  solid #000000;  
    border-radius: 20px;
}
*/
body {
    font-family: "Open Sans", sans-serif;
}


/* Estilos del sidebar */
.sidebar-body {
    width: 30px;
    height: 200px;
}

.sidebar-card {
    display: flex;
    flex-wrap: wrap;
    align-content: around;
    border: 1px solid black;
    background-color: yellow;
    width: 220px;
}

.sidebar-card .card-header {
    font-family: "Open Sans", sans-serif;
}

.sidebar-list .list-group-item {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

/* Estilos de la tarjeta del perfil */
.Card--profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%; /* Ancho relativo del formulario */
    max-width: 600px; /* Ancho máximo del formulario */
    margin: 0 auto; /* Centrar horizontalmente */
    padding: 20px; /* Espaciado interno */
    border: 3px solid #000000;
    padding-bottom: 40px; /* Espacio en la parte inferior */
}

/* Estilos del icono-perfil */
.Icono-Perfil {
    width: 100px; /* Ancho del icono */
    height: 100px; /* Alto del icono */
    margin: 20px auto; /* Centrar horizontalmente */
    padding: 20px auto;
}

/* Estilos del menú */
.card--Menu {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    align-content: center;
}

.card--Menu hr {
    width: 75%;
    border: 3px solid #000000;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Estilos de los botones */
.buttons {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    width: 100%; /* Ancho completo */
    max-width: 400px; /* Ancho máximo de los botones */
    margin-top: 20px; /* Espacio superior */
}

.button-cancel,
.button-save {
    width: 160px;
    height: 60px;
    background-color: #ACBE24;
    color: #000000;
    border: none;
    border-radius: 20px;
}

.button-save {
    margin-right: 10px;
}

/* Espaciado entre formulario y footer */
.Card--profile {
    padding-bottom: 40px; /* Espacio en la parte inferior */
}