/* Estilos para el main */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.col-lg-3 {
    padding: 0 0 50px 0;
}


.sidebar-card {
    border: 1px solid black;
    background-color: yellow;
    width: 220px;
}

.sidebar-card .card-header {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    padding: 10px 0;
}

.sidebar-list .list-group-item {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

/* Estilos para la tarjeta del perfil */

.img-email {
    width: 100px; /* Ancho del icono */
    height: 100px; /* Alto del icono */
    margin: 20px auto; /* Centrar horizontalmente */
    display: block; /* Convertir a bloque para centrar */
}

.Card--profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%; /* Ancho relativo del formulario */
    max-width: 600px; /* Ancho máximo del formulario */
    padding: 20px; /* Espaciado interno */
    border: 3px solid #000000; /* Borde sólido de color negro */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra */
    margin: 0 auto; /* Centrar horizontalmente */
}


/* Estilos de los botones */
.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centrar los botones horizontalmente */
    gap: 10px; /* Espacio entre botones */
    width: 100%; /* Ancho completo */
    max-width: 400px; /* Ancho máximo de los botones */
    margin: 20px auto; /* Centrar y espacio entre el formulario y los botones */
}

.link-modificar{
    min-width: 180px; /* Ancho mínimo del botón */
    width: auto; /* Permite que el ancho del botón se ajuste al tamaño del texto */
    height: 60px;
    display: inline-flex; /* Convertir en línea para aplicar alineación vertical */
    align-items: center; /* Alinear verticalmente */
    justify-content: center; /* Alinear horizontalmente */
    text-align: center;
    text-decoration: none; /* Quitar subrayado del enlace */
    margin: 0 auto; /* Margen automático para centrar horizontalmente */
    margin-top: 20px; /* Espacio superior */
    /* botones mejorados */
    background: rgb(186,204,51) !important;
    background: linear-gradient(180deg, rgba(186,204,51,1) 37%, rgba(172,190,36,1) 91%) !important;
    box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.24) !important;
    color: #000000;
    border: none;
    border-radius: 20px;
}

.link-modificar:hover{
    background: rgb(159,176,33) !important;
    background: linear-gradient(180deg, rgba(159,176,33,1) 37%, rgba(143,158,25,1) 91%) !important;
}

.link-modificar:active{
    background: rgb(122,135,26) !important;
    background: linear-gradient(180deg, rgba(122,135,26,1) 37%, rgba(76,84,11,1) 91%)  !important; 
}

.button-save {
    width: 160px; /* Ancho de los botones */
    height: 60px; /* Alto de los botones */
    /* botones mejorados */
    background: rgb(186,204,51);
    background: linear-gradient(180deg, rgba(186,204,51,1) 37%, rgba(172,190,36,1) 91%);
    box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.24);
    color: #000000;
    border: none;
    border-radius: 20px;
    text-align: center;
    line-height: 60px;  /* Alinea verticalmente el texto */
    text-decoration: none; /* Quitar subrayado del enlace */
}

.button-save:hover{
    background: rgb(159,176,33) !important;
    background: linear-gradient(180deg, rgba(159,176,33,1) 37%, rgba(143,158,25,1) 91%) !important;
}

.button-save:active{
    background: rgb(122,135,26) !important;
    background: linear-gradient(180deg, rgba(122,135,26,1) 37%, rgba(76,84,11,1) 91%)  !important;
}


.link-cancel {
    width: 160px; /* Mismo ancho que los botones */
    height: 60px; /* Mismo alto que los botones */
    display: inline-flex; /* Convertir en línea para aplicar alineación vertical */
    align-items: center; /* Alinear verticalmente */
    justify-content: center; /* Alinear horizontalmente */
    text-align: center;
    text-decoration: none; /* Quitar subrayado del enlace */
    margin: 0; /* Eliminar cualquier margen predeterminado */
    /* botones mejorados */
    background: rgb(186,204,51);
    background: linear-gradient(180deg, rgba(186,204,51,1) 37%, rgba(172,190,36,1) 91%);
    box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.24);
    color: #000000;
    border: none;
    border-radius: 20px;
}

.link-cancel:hover{
    background: rgb(159,176,33) !important;
    background: linear-gradient(180deg, rgba(159,176,33,1) 37%, rgba(143,158,25,1) 91%) !important;
}

.link-cancel:active{
    background: rgb(122,135,26) !important;
    background: linear-gradient(180deg, rgba(122,135,26,1) 37%, rgba(76,84,11,1) 91%)  !important;
}

.log-out{
    min-width: 220px; /* Ancho mínimo del botón */
    width: auto; /* Permite que el ancho del botón se ajuste al tamaño del texto */
    height: 60px;
    /* botones mejorados */
    background: rgb(186,204,51) !important;
    background: linear-gradient(180deg, rgba(186,204,51,1) 37%, rgba(172,190,36,1) 91%) !important;
    box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.24) !important;
    color: #000000;
    border: none;
    border-radius: 20px;
    display: block; /* Convertir a bloque */
    margin: 0 auto; /* Margen automático para centrar horizontalmente */
    margin-top: 20px; /* Espacio superior */
}

.log-out:hover{
    background: rgb(159,176,33) !important;
    background: linear-gradient(180deg, rgba(159,176,33,1) 37%, rgba(143,158,25,1) 91%) !important;
}

.log-out:active{
    background: rgb(122,135,26) !important;
    background: linear-gradient(180deg, rgba(122,135,26,1) 37%, rgba(76,84,11,1) 91%)  !important;
}

.imgText-return {
    display: flex; /* Establece un contenedor flexible */
    align-items: center; /* Alinea verticalmente los elementos */
}

.img-return {
    width: 30px; /* Ancho del icono */
    height: 30px; /* Alto del icono */
    margin-right: 10px; /* Espacio entre la imagen y el párrafo */
}

.imgText-return p {
    margin: 0; /* Elimina el margen predeterminado del párrafo */
}


.devices{
    font-family: "Ubuntu", sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

/* Espacio en blanco después del hr */
/* botn del panel latera */
.active-prop
{
    background: rgb(214,211,0) !important;
    background: linear-gradient(180deg, rgba(214,211,0,1) 5%, rgba(254,254,0,1) 30%, rgba(255,255,0,1) 49%, rgba(255,255,0,1) 70%, rgba(214,211,0,1) 95%) !important;

    color: black !important; 
}
/* un ligero cambio de color para botones del panel lateral */
.active-prop:hover
{
    background: rgb(215,212,0) !important;
background: linear-gradient(180deg, rgba(215,212,0,1) 5%, rgba(215,212,0,1) 95%) !important;
}

/* Espaciado entre formulario y footer */
main {
    margin-bottom: 50px; /* Espacio en la parte inferior */
}

.barra-verde{ /*Estilos para la barra verde abajo del nav-bar*/
    font-size: 24px;
    color: black;
}

@media only screen and (max-width: 380px) {
    .Card--profile {
        width: 90%; /* Cambia el ancho relativo */
        max-width: 300px; /* Cambia el ancho máximo */
    }

    .Icono-Perfil {
        width: 60px; /* Cambia el ancho del icono */
        height: 60px; /* Cambia el alto del icono */
    }

    .buttons-container {
        flex-direction: column; /* Cambia la dirección de la disposición a columna */
        align-items: center; /* Centra horizontalmente los botones */
        margin-top: 20px; /* Agrega margen superior para centrar verticalmente */
    }

    .link-modificar,
    .button-save,
    .link-cancel,
    .log-out {
        width: 100%; /* Ancho completo para que ocupen todo el ancho disponible */
        max-width: 280px; /* Ancho máximo para evitar que los botones sean demasiado anchos */
        margin-bottom: 10px; /* Agrega espacio entre los botones */
    }
}